/*
 * encoding: utf-8
 *
 * This file is a part of WeRB project.
 * License: LGPLv3+
 *
 */

/* reset all */
body, div {
  margin : 0px;
  padding : 0px;
}

.werb-messagebox {
  background : black;
  color : white;
  opacity : 0.7;
}

.werb-messagebox.progress .werb-messagebody::before {
  content : url(/img/progress.gif);
  width : 32px;
  height : 32px;
  margin : 5px;
  float : left;
}
